.message-header {
    display:flex
}
.search-input{
    border-style: double;
}
.flexbox-rows{
    display:flex;
    flex-wrap: wrap;
    padding: 50px;
}
.flexbox-camp {
    display:flex;
    flex-wrap: wrap;
}

li {
    list-style: none;
    padding: 20px;
}