.message-header {
    display:flex
}
.search-input{
    border-style: double;
}
.flexbox-rows{
    display:flex;
}
.flexbox-camp {
  display:flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
  padding: 20px;
}